<div class="container p-5">
    <div class="border border-light rounded p-5">
        <div>
            <a routerLink="/users" class="btn btn-sm btn-secondary">
                Novo Usuário
            </a>
        </div>

        <hr />

        <table class="table table-striped table-hover table-sm" *ngIf="users">
            <tr class="thead-light">
                <th>Nome Completo</th>
                <th>Email</th>
                <th>CPF</th>
                <th>Estado</th>
                <th>Cidade</th>
                <th>ICMS</th>
                <th>Ações</th>
            </tr>

            <tr *ngFor="let user of users">
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>   
                <td>{{ user.cpf }}</td>
                <td>{{ user.state }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.icms * 100 }}%</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-info" (click)="EditUser(user.id)">
                        Atualizar
                    </button>
                    |
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="DeleteUser(user.id)">
                        Excluir
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
